@{
    ViewData["Title"] = "Home Page";
}
<div class="text-center" >
<body background="images/original.jpg" style="background-size: cover;" style="background-repeat: no-repeat;">
    <h1 class="display-3" style="font-family: Tahoma, Geneva, Verdana, sans-serif; color: white;">Welcome to our church</h1>
    <h2 class="display-4" style="color: white;">Name of church</h2>
    

   </body> 
</div>
